/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
    margin: 0;
}

body {
    background-color: #faf4ff;
    font-family: sans-serif;
    text-align: center;
    color: #10375c;
}

h1 {
    padding: 1rem;
}
#intro {
    border-style: solid;
    border-width: 4px;
    border-color: #844685;
    width: 608px;
    margin: auto;
    position: relative;
}
#intro-sketch canvas {
    display: block;
}
#links a {
    display: block;
    position: absolute;
    color:rgba(0, 0, 0, 0);
}
#link-animation {
    top: 0;
    left: 0;
    width: 600px;
    height: 200px;
}

#link-apps {
    top: 200px;
    left: 0;
    width: 600px;
    height: 200px;
}

#about {
    display: block;
    width: 700px;
    margin: auto;
}
