/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

body {
    background-color: #faf4ff;
    font-family: sans-serif;
    text-align: center;
    color: #10375c;
}

h1 {
    padding: 32px;
}

.navbar {
    background-color: rgb(160, 160, 255);
}

.navbar a,
.navbar .dropdown .dropbtn {
    display: inline-block;
    font-size: 16px;
    color: #faf4ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    overflow: hidden;
    position: relative;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #faf4ff;
    color: black;
}

.dropdown-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: #faf4ff;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(160, 160, 255);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-toys {
    display: block;
}

#intro {
    max-width: 100%;
    border-style: solid;
    border-width: 4px;
    border-color: #844685;
    width: 608px;
    margin: auto;
}

#intro-responsive-container {
    position: relative;
    padding-bottom: 66.6666666%;
}

#intro-sketch {
    height: 100%;
    width: 100%;
    position: absolute;
}

#intro-sketch canvas {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#links {
    position: absolute;
    width: 100%;
    height: 100%;
}

#links a {
    display: block;
    color: rgba(0, 0, 0, 0);
    height: 50%;
}

#about {
    display: block;
    width: 512px;
    margin: auto;
}

#footer {
    padding: 50px;
    padding-top: 100px;
}

.toy-background {
    background-color: #10375c;
}

.toy-background h1 {
    color: aliceblue;
}

.toy-holder {
    background-color: #844685;
    position: absolute;
    width: 512px;
    height: 512px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}