* {
  box-sizing: border-box;
}
body {
  padding-left: calc(50% - 160px);
  padding-right: calc(50% - 160px);
  padding-top: calc(50% - 320px);
  padding-bottom: 50%;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5rem;

}
.top {
  display: block;
  content: '';
  background-color: #405;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: calc(50% - 320px + 16px);
  z-index: 0;
}
.bottom {
  display: block;
  content: '';
  background-color: #405;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(50% - 320px + 16px);
  z-index: 0;
}
.left {
  display: block;
  content: '';
  background-color: #405;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(50% - 160px + 16px);
  z-index: 0;
}
.right {
  display: block;
  content: '';
  background-color: #405;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: calc(50% - 160px + 16px);
  z-index: 0;
}
.screenContent {
  padding: 64px 16px;
}
.consoleBody {
  position: fixed;
  top: calc(50% - 320px);
  left: calc(50% - 160px);
  width: 320px;
  height: 640px;
  border-radius: 32px;
  border: 16px solid #333;
  z-index: 1;
}
.belowScreen {
  background-color: #666;
  position: fixed;
  box-sizing: border-box;
  top: 50%;
  left: calc(50% - 160px);
  width: 320px;
  height: 320px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border: 16px solid #333;
  padding: 16px;
  z-index: 2;
}
