* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}
a, a:visited {
  color: whitesmoke;
}
.belowScreen {
  position: fixed;
  top: 60%;
  left: 0;
  right: 0;
  background-color: #888888;
  width: 100%;
  height: 40%;
  z-index: 1;
}
.screenContent {
  z-index: 0;
  padding-bottom: 50vh;
}
.buttonBar {
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 600px) {
  body {
    padding-left: calc(50% - 300px);
    padding-right: calc(50% - 300px);
    padding-top: calc(50vh - 520px);
    padding-bottom: calc(50vh - 160px);
  }
  .top {
    display: block;
    content: '';
    background-color: #405;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: calc(50% - 320px + 16px);
    z-index: 0;
  }
  .bottom {
    display: block;
    content: '';
    background-color: #405;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(50% - 320px + 16px);
    z-index: 0;
  }
  .left {
    display: block;
    content: '';
    background-color: #405;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(50% - 300px + 16px);
    z-index: 0;
  }
  .right {
    display: block;
    content: '';
    background-color: #405;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(50% - 300px + 16px);
    z-index: 0;
  }
  .screenContent {
    padding: calc(50vh - 300px) 16px;

  }
  .consoleBody {
    position: fixed;
    top: calc(50vh - 320px);
    left: calc(50% - 300px);
    width: 600px;
    height: 640px;
    border-radius: 32px;
    border: 16px solid #333;
    z-index: 1;
  }
  .belowScreen {
    background-color: #666;
    position: fixed;
    box-sizing: border-box;
    top: 50%;
    left: calc(50% - 300px);
    width: 600px;
    height: 320px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border: 16px solid #333;
    padding: 16px;
    z-index: 2;
  }
  .navLeft {
    margin-top: calc(50vh - 320px);
    color: whitesmoke;
    z-index: 5;
  }
  .navButton disabled {
    color: #fff;
  }

}
